.nav{
	background: #000000;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
body{
	overflow-x: hidden;
}
.nav-mobile{
	display: none;
	z-index: 1000;
}
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
a{
	color: unset;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.container{
	width: 80%;
	max-width: 1366px;
	padding: 0;
}
.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.row{
	margin: 0;
}

/*CSS MENU*/
.menu-wrap{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu-item{
	font-size: 1rem;
	color: white;
	font-weight: 600;
	padding: 5px 15px;
	margin-left: 10px;
	cursor: pointer;
	/*transition: 0.5s ease-in-out;*/
}
.right-menu{
	display: flex;
	justify-content: center;
	align-items: center;
}
.search ,.login , .cart{
	font-size: 1rem;
	color: white;
	font-weight: 600;
	padding: 5px 15px;
	margin-left: 10px;
	cursor: pointer;
}
.search{
	display: flex;
	border:0.125px solid white;
	justify-content: center;
	align-items: center;
}
.search > input{
	background: transparent;
	border: none;
	outline: none;
	color: white;
}
.logo{
	font-size: 3rem;
	color: white;
	font-weight: 800;
	cursor: pointer;
}

a#dropdownMenuLink {
	background: transparent;
	color: white;
}
a#dropdownMenuLink:hover{
	color: #F7A670;
}

.menu-item:hover , .menu-item.active,.login:hover ,.cart:hover{
	color: #F7A670;
}
.nav-mobile .show-menu-mb-content
{
	display: block;
}
/*END CSS MENU*/

/*CSS Main*/
.category-item{
	padding-bottom:50px;
	border-bottom: 1px solid #562606;
	margin-bottom: 50px;
}
.category-item-main{
	color: white;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
	rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.category-item-main:hover{
	color: orange;
}
.category-item .content{
	background-image: url('../images/image-product-content.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
}
.category-item .content p{
}
.category-item .image-content{
	padding: 0px;
	height: 450px;
}
.main{
	margin-top:72px;
	padding: 70px 0px;
}

/*END CSS MAIN*/


/*CSS FOODTER*/
.footer{
	background: #000000;
	padding: 3rem 0;
	color: white;
}
.footer .row{
	justify-content: space-between;
}
.footer-item i{
	font-size: 25px;
	margin-right: 10px;
	display: inline-block;
}
/*END CSS FOODTER*/

/*responsive ipad*/
@media (min-width: 768px) and (max-width: 1024px)
{
	.nav{
		display: none;
	}
	.container{
		width: 100%;
	}
	.nav-mobile{
		background: #000000;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 99;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		display: unset;
	}
	.nav-mobile .row{
		justify-content: space-between;
		align-items: center;
	}
	.menu-mb{
		color: white;
		font-size:20px;
		font-weight: 600;
	}
	.item-info h3 {
		font-size: 20px;
	}
	.menu-mb-wrap{
		padding: 0 10px;
	}
	i {
		padding: 0 8px;
	}
	.item-top{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 10px;
	}
	.nav-mobile .menu-item{
		display: flex;
		font-size: 16px;
		border-bottom: 0.125rem solid white;
		padding:10px 0px;
	}
	.nav-mobile .menu-item-last
	{
		border: none;
	}
	.menu-item input{
		background: transparent;
		color: white;
		outline: none;
		border:1px solid #552505;
		margin-right: 10px;
	}
	.menu-item button{
		background: #552505;
		color: white;
		outline: none;
		border:none;
	}
	.menu-mb-content{
		display: none;
		/*display : none*/
	}
	.footer-item{
		width: 100%;
	}
	.text-alin-center{
		text-align: center;
	}
	.footer-menu{
		display: none;
	}
}
/*End responsive ipad*/

@media (max-width: 767px)
{
	.nav{
		display: none;
	}
	.container{
		width: 100%;
	}
	.nav-mobile{
		background: #000000;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 99;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		display: unset;
	}
	.nav-mobile .row{
		justify-content: space-between;
		align-items: center;
	}
	.menu-mb{
		color: white;
		font-size:20px;
		font-weight: 600;
	}
	.item-info h3 {
		font-size: 20px;
	}
	.menu-mb-wrap{
		padding: 0 10px;
	}
	i {
		padding: 0 8px;
	}
	.item-top{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 10px;
	}
	.nav-mobile .menu-item{
		display: flex;
		font-size: 16px;
		border-bottom: 0.125rem solid white;
		padding:10px 0px;
	}
	.nav-mobile .menu-item-last
	{
		border: none;
	}
	.menu-item input{
		background: transparent;
		color: white;
		outline: none;
		border:1px solid #552505;
		margin-right: 10px;
	}
	.menu-item button{
		background: #552505;
		color: white;
		outline: none;
		border:none;
	}
	.menu-mb-content{
		display: none;
		/*display: none;*/
	}
	.category-item .image-content{
		height: auto;
	}


	.footer-item{
		width: 100%;
	}
	.text-alin-center{
		text-align: center;
	}
	.footer-menu{
		display: none;
	}
	.main{
		padding:20px 0px;
	}


}